

/* body  */
.bdy-bg{
    background-color: #F1F1F3;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 320px;
   
}

nav h2{
   font-size: x-large; 
    font-weight:bolder;
}

nav button{
    background-color: #F1F1F3;
    padding: 15px 30px;
    border-color: #006a5058;
    border-radius: 10px;
    color: #006A50;
    font-weight: bold;
    
}

.banner-section{
    width: 1280px;
    height: 560px;
    margin: 0px auto;
    background-color:#C6E4D6 ;
    display: flex;
    align-items: center;
    justify-content:space-around;
    border-radius: 20px;
    margin-top: 40px;
}

.bd-2-0{
    font-size:larger;  
    color: #0e0e0e73;
}

.bd-p{
    
   font-weight:bold;
}
.btn{
    background-color: #006A50;
    padding: 17px 34px;
    border-radius: 10px;
    border-style: none;
    color: white;
    font-size:medium;
    
}

/* shared style  */

.text-color{
    color: #0e0e0e92;
}

/* main  */

.pillars{
    width: 1280px;
    height: 324px;
    
    margin: 0px auto;
    margin-top: 60px;
}

.pillars-of{
    font-size:large;
}

.all-pillars{
    display: flex;
    justify-content: space-between;
}


.innovation{
   border-style:solid;
   border-color: rgba(0, 0, 0, 0.161);
    background-color: white;
    
    border-radius: 15px;
    padding:20px;

    
}

/* pillars section end  */

.The-Vision{
    width: 1280px;
    height: 765px;
    margin: 0px auto;
    margin-top: 60px;
}

.Vision-of-Future{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.Digital-Transformation{
    background-color: #548ff549;
    padding: 20px;
    border-radius: 15px;

}

.d-t-b{
    background-color: #5490F5;
    padding: 12px 20px;
    border-radius: 5px;
    border-style: none;
    color: white;
    font-weight: bold;
}

.Green-Energy{
    background-color: #C6E4D6;
    padding: 20px;
    border-radius: 15px;
}

.g-e-b{
    background-color: #09A15C;
    padding: 12px 20px;
    border-radius: 5px;
    border-style: none;
    color: white;
    font-weight: bold; 
}

.Modern-Infrastructure{
    background-color: #F7EBCF;
    padding: 20px;
    border-radius: 15px;
}

.m-i-b{
    background-color: #FFC239;
    padding: 12px 20px;
    border-radius: 5px;
    border-style: none;
    color: white;
    font-weight: bold; 
}
 
/* younus */
.yunus{
    border-style:solid;
    border-color: rgba(0, 0, 0, 0.161);
     background-color: white;
     margin-top: 32px;
     border-radius: 15px;
     padding:20px;
}

.img-abslt{
    position: absolute;
}

/* Recent News */

.sec-tion{
    width: 1280px;
    margin: 0px auto;
}

.recent-news{
    
    font-size: xx-large;
    font-weight: bold;
    
}



.recent-divs{
   padding:30px;
   gap: 30px;
    background-color: white;
    display: flex;
    justify-items: center;
    justify-content: space-between ;
    border-radius: 15px;
    margin-top: 30px;
    
}

.img-satalite{
    border-radius: 20px;
}

.btn-jazera{
    background-color: #006A50;
    padding: 12px 20px;
    border-radius: 5px;
    border-style: none;
    color: white;
    font-weight: bold;  
}

.space{
    text-indent: 50px;
}